body {
    font-family: Arial, sans-serif;
    background-color: #45a049
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.post {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

label, textarea, input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}